{# One masthead, used on every page and echoed at the top of an edition. #}
<header class="masthead">
  <p class="masthead-side masthead-left">Chosen by hand,<br>never scraped from a feed</p>
  <a class="wordmark" href="/">
    <span class="wordmark-the">The</span>
    <span class="wordmark-name">Feather<img class="wordmark-feather" src="/static/serius/feather.svg"
      alt="" width="64" height="24">Press</span>
  </a>
  <p class="masthead-side masthead-right">Three minutes to read,<br>all day to wander</p>
</header>
<p class="masthead-line">Three good finds &middot; chosen for one reader &middot; delivered daily</p>
<hr class="rule rule-double">
